<div class="top">
  <h1>Angular Gallery</h1>

  <div class="top-line">
    <a href="https://github.com/lukasz-galka/ngx-gallery" target="_blank">https://github.com/lukasz-galka/ngx-gallery</a>
  </div>

  <div class="top-line">
    <a class="github-button" href="https://github.com/lukasz-galka/ngx-gallery" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Star lukasz-galka/ngx-gallery on GitHub">Star</a>
    <a class="github-button" href="https://github.com/lukasz-galka/ngx-gallery/fork" data-icon="octicon-repo-forked" data-size="large" data-show-count="true" aria-label="Fork lukasz-galka/ngx-gallery on GitHub">Fork</a>
  </div>

  <div class="top-line">
    <a href="https://www.npmjs.com/package/ngx-gallery"><img src="https://img.shields.io/npm/v/ngx-gallery.svg"></a>
    <a href="https://www.npmjs.com/package/ngx-gallery"><img src="https://img.shields.io/npm/dm/ngx-gallery.svg"></a>
    <a href="https://david-dm.org/lukasz-galka/ngx-gallery?type=dev"><img src="https://david-dm.org/lukasz-galka/ngx-gallery/dev-status.svg"></a>
    <a href="https://snyk.io/test/github/lukasz-galka/ngx-gallery"><img src="https://snyk.io/test/github/lukasz-galka/ngx-gallery/badge.svg"></a>
  </div>
</div>

<div class="example" *ngFor="let example of examples; let i = index;">
  <h2 id="{{ getUrlTitle(example.title) }}"><a href="{{ '/ngx-gallery-demo/#' + getUrlTitle(example.title) }}">{{ example.title }}</a></h2>
  <ngx-gallery [options]="example.options" [images]="example.images"></ngx-gallery>
  <options-viewer [options]="example.options"></options-viewer>
</div>

<div class="example">
  <h2 id="{{ getUrlTitle(buttonsNavigationExample.title) }}">
      <a href="{{ '/ngx-gallery-demo/#' + getUrlTitle(buttonsNavigationExample.title) }}">
          {{ buttonsNavigationExample.title }}
      </a>
  </h2>
  <div class="buttons-wrapper">
      <button (click)="showPrev()" [disabled]="!canShowPrev()">Show Prev</button>
      <button (click)="showNext()" [disabled]="!canShowNext()">Show Next</button>
  </div>
  <ngx-gallery [options]="buttonsNavigationExample.options" [images]="buttonsNavigationExample.images" #buttonsNavigationGallery></ngx-gallery>
  <options-viewer [options]="buttonsNavigationExample.options"></options-viewer>
</div>

<div class="example">
  <h2 id="{{ getUrlTitle(onlyPreviewExample.title) }}">
      <a href="{{ '/ngx-gallery-demo/#' + getUrlTitle(onlyPreviewExample.title) }}">
          {{ onlyPreviewExample.title }}
      </a>
  </h2>
  <div class="buttons-wrapper">
      <button (click)="openPreview()">Open Preview</button>
  </div>
  <ngx-gallery [options]="onlyPreviewExample.options" [images]="onlyPreviewExample.images" #onlyPreviewGallery></ngx-gallery>
  <options-viewer [options]="onlyPreviewExample.options"></options-viewer>
</div>

<div class="example">
  <h2 id="{{ getUrlTitle(safeExample.title) }}">
      <a href="{{ '/ngx-gallery-demo/#' + getUrlTitle(safeExample.title) }}">
          {{ safeExample.title }}
      </a>
  </h2>
  <ngx-gallery [options]="safeExample.options" [images]="safeExample.images"></ngx-gallery>
  <options-viewer [options]="safeExample.options"></options-viewer>
</div>

<div class="example">
  <h2 id="{{ getUrlTitle(changeExample.title) }}">
      <a href="{{ '/ngx-gallery-demo/#' + getUrlTitle(changeExample.title) }}">
          {{ changeExample.title }}
      </a>
  </h2>
  <div class="buttons-wrapper">
      <button class="change" (click)="changeImages()">Change All</button>
      <button class="change" (click)="addImage()">Add one</button>
      <button class="change" (click)="removeImage()">Remove one</button>
  </div>
  <ngx-gallery [options]="changeExample.options" [images]="changeExample.images"></ngx-gallery>
  <options-viewer [options]="changeExample.options"></options-viewer>
</div>

<div class="example">
  <h2 id="{{ getUrlTitle(asyncExample.title) }}">
      <a href="{{ '/ngx-gallery-demo/#' + getUrlTitle(asyncExample.title) }}">
          {{ asyncExample.title }}
      </a>
      <i class="fa fa-spinner fa-pulse fa-3x fa-fw" [class.active]="asyncSpinnerActive"></i>
  </h2>
  <ngx-gallery [options]="asyncExample.options" [images]="asyncExample.images"></ngx-gallery>
  <options-viewer [options]="asyncExample.options"></options-viewer>
</div>

<div class="links">
  <a href="https://github.com/lukasz-galka" target="_blank">
      <svg class="icon">
          <use xlink:href="#si-dev-github_badge" />
      </svg>
  </a>

  <a href="https://www.npmjs.com/~lukasz-galka" target="_blank">
      <svg class="icon icon-npm">
          <use xlink:href="#si-dev-npm" />
      </svg>
  </a>

  <a href="http://blog.lukasz-galka.pl" target="_blank">
      <svg class="icon">
          <use xlink:href="#si-dev-wordpress" />
      </svg>
  </a>

  <a href="https://www.linkedin.com/in/%C5%82ukasz-ga%C5%82ka-6187a2132/" target="_blank">
      <svg class="icon">
          <use xlink:href="#si-zocial-linkedin" />
      </svg>
  </a>

  <a href="mailto:lukasz-galka@hotmail.com">
      <svg class="icon">
          <use xlink:href="#si-zocial-email" />
      </svg>
  </a>

  <a href="https://www.intive.com" target="_blank">
      <svg class="icon icon-intive">
          <use xlink:href="#intive" />
      </svg>
  </a>

  <a href="https://www.instagram.com/smilingsamoyedsammy/" target="_blank">
      <svg class="icon">
          <use xlink:href="#si-awesome-paw" />
      </svg>
  </a>
</div>
