/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
    text-align: center;
}

.example {
    width: 100%;
}

ngx-gallery {
    margin-bottom: 20px;
}
