/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
    text-align: center;
}

a:link, a:visited, a:hover, a:active  {
    color: black;
}

.example {
    width: 100%;
    float: left;
}

.top {
    margin-bottom: 30px;

    h1 {
        margin-bottom: 5px;
    }

    .top-line {
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
    }
}

.buttons-wrapper {
    display: block;
    position: relative;
    margin-bottom: 20px;
}

.change {
    margin-right: 10px;
}

.links {
    width: 100%;
    margin: 20px 0px;
    text-align: center;

    a:link, a:visited, a:hover, a:active {
        text-decoration: none;
    }
}

.icon {
    width: 50px;
    height: 50px;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    transition: fill 0.3s ease-in-out;
    fill: black;
}

.icon-npm {
    width: 80px;
}

.icon-intive {
    width: 10px;
}

.icon:hover {
    fill: grey;
}

.fa.fa-spinner {
    font-size: 30px;
    display: none;

    &.active {
        display: inline-block;
    }
}

ngx-gallery {
    margin-bottom: 20px;
}

ngx-gallery-arrows.ngx-gallery-image-size-contain .fa {
    background: white;
    padding: 5px;
    color: black;
}
