/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
    text-align: center;
}

.example {
    width: 100%;
}

.top {
    margin-bottom: 50px;

    h1 {
        margin-bottom: 5px;
    }
}

ngx-gallery {
    margin-bottom: 20px;
}

ngx-gallery-arrows.ngx-gallery-image-size-contain .fa {
    background: white;
    padding: 5px;
    color: black;
}